<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8" />
        <!-- remember to change icon to usb.png -->
        <link rel="icon" type="image/png" href="<%= BASE_URL %>img/usb/usb.png">
        <title><%= htmlWebpackPlugin.options.title %></title>
      </head>
    <body>
        <noscript>
          <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="header"></div>
        <div id="qr_code"></div>
        <!-- built files will be auto injected -->
      </body>
</html>